<%- include('../layout/header') -%>

<style>

    .message {
        color: rgb(255, 23, 7);
    }

    .signup{
        font-weight: bolder;
    }

    .back{
      background-color: #3d4b81;
    }

    a{
      text-decoration: none;
    }

    .text{
      color: blue;
    }

</style>

<section class="vh-100 back">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-dark" style="border-radius: 15px;">
            <div class="card-body box p-5">
              <h2 class="text-uppercase text-center mb-3 text-white">Create new User</h2>

              <form action="" method="post">
                <div class="d-flex justify-content-center message"> 
                  <%
                  if(typeof message !== 'undefined'){
                      %>
                      <p><%= message %></p>
                      <%
                  }
                  %>
              </div>
                <div class="form-outline text-white">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input type="text" required id="form3Example1cg" name="name" class="form-control form-control-lg" />
                </div>

                <div class="form-outline text-white ">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" required id="form3Example3cg" name="email" class="form-control form-control-lg" />
                </div>

                <div class="form-outline text-white ">
                    <label class="form-label" for="form3Example3cg">Your Mobile Number</label>
                    <input type="text" required id="form3Example3cg" name="mobile" class="form-control form-control-lg" />
                  </div>

                <div class="form-outline text-white">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" required id="form3Example4cg" name="password" class="form-control form-control-lg" />
                </div>
                <br>
                <div class="d-flex justify-content-center ">
                  <button type="submit" class="btn btn-outline-light btn-lg px-5 text">Add new User</button>
                    <br><br>
                    
                </div><br>
               <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-outline-light btn-lg px-5 text"><a class="d-flex justify-content-center " href="/admin/adminDashboard"> Go to Dashboard </a></button>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layout/footer') -%>