<%- include('../layout/header') -%>
<style>

    .message {
        color: rgb(255, 7, 7);
        font-size: 17px;
    }

    .signup{
        font-weight: bolder;
    }

    .account{
      font-weight: 500;
      font-style: normal;
    }

</style>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-4">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-2 signup">SignUp Here</p>
  
                  <form class="mx-1 mx-md-2" action="" method="post">
                    <div class="d-flex justify-content-center message"> 
                      <%
                      if(typeof message !== 'undefined'){
                          %>
                          <p><%= message %></p>
                          <%
                      }
                      %>
                  </div>
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Your Name</label>
                        <input type="text" id="form3Example1c" name="name" required class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email</label>
                        <input type="email" id="form3Example3c" name="email" required class="form-control" />                        
                      </div>
                    </div>                  
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4cd">Mobile Number</label>
                        <input type="text" id="form3Example4cd" required name="mobile" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                        <input type="password" id="form3Example4c" required name="password" class="form-control" />
                      </div>
                    </div>
                    
                    <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-3">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                    
                  </form>
                  <div class="d-flex justify-content-center"> 
                  <form action="/login">
                    <p class="account">Already have an Account..?!!</p>
                    &emsp;&emsp;&nbsp;<button type="submit" class="btn btn-primary btn-lg btn-block">SignIn Here</button>
                  </form>
                  </div>
                </div>
              
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include('../layout/footer') -%>